.button {
  border-radius: var(--border-radius-default);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  color: white;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
  max-width: var(--width-input);
  padding: 0.5em 1em;
  margin: 0.5em 0;
  transition: transform 0.1s ease;
  width: 100%;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

/** TODO: Create separate styles for .primary and .secondary variants of this button:
* - Must use the CSS variables declared in App.css
*/

.primary {
  background-color: var(--color-brand);
  color: #fff;
  border: none;
}

.secondary {
  background-color: transparent;
  color: var(--color-brand);
  border: 2px solid var(--color-brand);
}

.spinner {
  border: 2px solid rgba(255, 255, 255, 0.4); 
  border-top: 2px solid #fff;                
  border-radius: 50%;
  width: 1em;
  height: 1em;
  animation: spin 0.8s linear infinite;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
}


.secondary .spinner {
  border: 2px solid rgba(65, 62, 247, 0.3);
  border-top: 2px solid var(--color-brand);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}